body{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
  color: #fff;
}

#logo{
  margin: 20px;
}

#logo img{
  width: 200px;
}

#main-content{
  margin-top: 80px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}

#main-content a {
  text-decoration: none;
  color: #fff;
}

#adventure-name{
  font-size: 18px;
  font-weight: 600;
}
